.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

form {
  margin-top: 2em;
}

.error {
 color: #a94442; 
}

.has-error label {
  color: #a94442;
}

.has-success label {
  color: #3c763d;
}

button {
  margin-top: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
